<h1>Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto</h1>

In [2]:
#Importing libraries

import pandas as pd
import numpy as np
import requests

We convert the HTML data into list of Data frame object using Pandas read_html.
"The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood."

<h2>Part 1: Building a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name</h2>

In [25]:
# Read the table
# The table headers are in row 0
table = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)

# Create the initial dataframe from the table
df = pd.DataFrame(data = table[0])

# Print the shape
print('The shape of the Raw Inital Datafram is: ', df.shape)

# Output the Head of the Table
df.head()

The shape of the Raw Inital Datafram is:  (180, 3)

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

<h3>Handle rows where Borough is set but Neighbourhood is Not assigned</h3>

In [27]:
# Find these instance
df[(df.Borough != 'Not assigned') & (df.Neighbourhood == 'Not assigned')]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

<h3>Remove cells which has Borough not assigned</h3>

In [36]:
df = df[(df.Borough != 'Not assigned') | (df.Neighbourhood != 'Not assigned')]

# Print the shape
print('The shape of the Raw Inital Datafram is: ', df.shape)

# Output the Head of the Table
df.reset_index(drop=True, inplace=True)
df.head()

The shape of the Raw Inital Datafram is:  (103, 3)

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

<h3>Group by Postal Code and Borough</h3>

In [48]:
part_1 = pd.DataFrame(df.groupby(
    ['Postal Code', 'Borough'])['Neighbourhood'].apply(
    lambda x: ', '.join(x))).reset_index()
part_1.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [49]:
part_1.tail()

    Postal Code    Borough                                      Neighbourhood
98          M9N       York                                             Weston
99          M9P  Etobicoke                                          Westmount
100         M9R  Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101         M9V  Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102         M9W  Etobicoke                Northwest, West Humber - Clairville

In [41]:
df.shape

(103, 3)

<h2>Part 2: Utilizing the Foursquare location data, we get the Latitude and the Longitude coordinates of each Neighborhood</h2>